---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
	<BaseHead />  
	<BaseLayout>
		<h1>jamjam.dev</h1>
	</BaseLayout>  
	
	
</html>
