---
import { Icon } from 'astro-icon'
---

<button>
    <a href="home">
        <div class="flex flex-row w-64 h-16 bg-darkGray justify-between">
            <div class="flex mx-auto items-center">
                <p class="font-sans text-base text-platinum hover:underline transition-transform ease-in duration-200">Enter</p>
            </div>
            <div>
                <div class=" flex justify-center p-5 w-16 h-16 bg-black ">
                    <Icon name="enter" class=" stroke-green-400 animate-pulse"/>
                </div>
            </div>
        </div>
    </a>
</button>