---
import Navigation from "./Navigation.astro";
---

<header>
        <div class="flex justify-between min-w-full">

            <!-- JamJam logo -->
            <a href="/" class="flex justify-center items-center border border-platinum/10">
                <p class="text-platinum font-serif font-bold text-4xl p-8">jamjam.dev</p>
            </a>
            
            <!-- Menu -->
            <Navigation />
        </div>
</header>