---
import Navigation from "./Navigation.astro";

---

<header>
        <div class="flex justify-between min-w-full">

            <!-- JamJam logo -->
            <div class="flex justify-center items-center">
                <p class="text-platinum font-serif font-bold text-xl p-8 border border-platinum/10">jamjam.dev</p>
            </div>


            <!-- Menu -->
            <Navigation />
        </div>
</header>