---
import Icon from "astro-icon";
---
<!-- desktop -->
<div class="hidden md:flex flex-col border border-platinum/10 ">

    <!-- top bar -->
    <div class="flex border-b border-platinum/10">
        <div class="flex justify-center items-center w-24 h-24 border-r border-r-platinum/10 ">
            <a href="work">
                <Icon name="work" alt="portfolio icon" class=" w-12 stroke-platinum hover:animate-pulse hover:stroke-green-400"/>
            </a>
        </div>
        <div class="flex justify-center items-center w-24 h-24 border-r border-r-platinum/10">
            <a href="blog">
                <Icon name="blog" alt="blog icon" class="w-12 stroke-platinum hover:animate-pulse hover:stroke-green-400"/>
            </a>
        </div>
        <div class="flex justify-center items-center w-24 h-24">
            <a href="contact">
                <Icon name="contact" alt="contact icon" class="w-12 stroke-platinum hover:animate-pulse hover:stroke-green-400"/>
            </a>
        </div>
    </div>

    <!-- bottom bar -->
    <div class="p-4">
        <h4 class="text-platinum font-sans font-bold">Web Development</h4>
        <p class="text-platinum/50 font-sans">Melbourne, VIC</p>
    </div>

</div>







<!-- mobile -->
<div class="flex flex-col place-content-end justify-center gap-2 p-8 border border-platinum/10 md:hidden">
    <span class="h-0.5 w-7 bg-platinum"></span>
    <span class="h-0.5 w-7 bg-platinum"></span>
    <span class="h-0.5 w-5 bg-platinum"></span>
</div>